.VSCodeCounter/
profiles/
.tmp/
gddoom
*.log
*.prof
bin/
dist/
*.exe
*.test
*.out
config.toml
deutex_doom1_images/
oversat/Oversat.wad
doom-source/linuxdoom-1.10/*.o
doom-source/linuxdoom-1.10/linux/*.o
linuxdoom-1.10/linux/linuxxdoom
doom-source/linuxdoom-1.10/linux/linuxxdoom
tmp/*
internal/doomruntime/testdata/
